# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.swp
*~

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# Environment variables and configuration files
.env
*.config

.idea
./.idea